<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Island</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="caja_principal">
                <div class="contenedor_form">
                    <a href="/">
                        <button type="submit" class="boton-atras">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                    </a>
                    <div class="logo">
                        <img src="/img/logoProvisional.png" alt="">
                    </div>
                    <h2>Editar perfil</h2>
                    <form action="/user/edit/<%=userSelect.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="formulario-email-contrasena">
                        <div class="hilera_form">
                            <div class="email-contrasena">
                                <label for="Usuario">Nombre de usuario</label> <br>
                                <input type="text" name="usuario" id="Usuario" maxlength="200" value="<%=userSelect.usuario%>"><br>
                            </div>

                            <div class="email-contrasena">
                                <label for="Email">Email</label> <br>
                                <input type="email" name="email" id="Email" value="<%=userSelect.email%>"><br>
                            </div>

                            <div class="email-contrasena">
                                <label for="Contrasena">Contraseña</label><br>
                                <input type="password" name="contrasena" id="Contrasena" value="<%=userSelect.contrasena%>" ><br>
                            </div>

                            <div class="email-contrasena">
                                <label for="confirmarContrasena">Confirmar contraseña</label><br>
                                <input type="password" name="confirmarContrasena" id="confirmarContrasena"> <br>
                            </div>
                        </div>
                        <div class="hilera_form">
                            <div class="email-contrasena">
                                <label for="documento">Numero de documento</label> <br>
                                <input type="number" name="documento" id="documento" value="<%=userSelect.numeroDocumento%>"> <br>
                            </div>

                            <div class="email-contrasena">
                                <label for="direccion">Dirrección</label> <br>
                                <input type="text" name="direccion" id="direccion" value="<%=userSelect.direccion%>" > <br>
                            </div>

                            <div class="email-contrasena">
                                <label for="celular">Celular</label><br>
                                <input type="number" name="celular" id="celular" value="<%=userSelect.celular%>"> <br>
                            </div>

                            <div class="email-contrasena">
                                <label for="img">Imagen de perfil</label><br>
                                <input type="file" name="imgUser" id="img" value="/img/users/<%=userSelect.img%>"> <br>
                            </div>
                        </div>
                        <div class="botones">
                            <div class="boton-edit">
                                <button type="submit">Editar</button>
                            </div>
                            <a href="/user/delete/<%=userSelect.id%>" class="boton-edit">
                                <div class="buttomCaja">Eliminar</div>
                            </a>
                        </div>
                    </form>
                </div>

            </div>
        </main>
</body>

</html>