<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/agregar-producto.css">
    <link rel="stylesheet" href="/css/editar-producto.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Island</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="container products-wrapper">
                <div class="row">
                    <div class="titulo">
                        <h2 class="products-title">Estás editando: <%= producto.name%> <br> </h2>
                    </div>
                </div>
                <div class="col-12">
                    <form id="form" action="/productos/editar/<%= producto.id %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <div class="grupos">
                            <div class="bloque-edicion">
                                <label for="name" class="form-label">Nombre del producto: </label>
                                <input type="text" id="name" name="name" placeholder="Ej: consola X" class="form-input"
                                    value="<%= producto.name%>">
                                    <%if(locals.errores && errores.name){%>
                                        <div class="errores">
                                            <%=errores.name.msg%>
                                        </div>
                                        <%}%>
                                <p></p>
                            </div>
                            <div class="bloque-edicion">
                                <label for="price" class="form-label">Precio del producto:</label>
                                <input type="number" id="price" name="price" placeholder="Ej: $50.000"
                                    class="form-input" value="<%= producto.price%>">
                                    <%if(locals.errores && errores.price){%>
                                        <div class="errores">
                                            <%=errores.price.msg%>
                                        </div>
                                        <%}%>
                                        <p></p>
                            </div>
                        </div>
                        <div class="grupos">
                            <div class="bloque-edicion">
                                <label for="discount" class="form-label">Descuento:</label>
                                <input type="number" id="discount" name="discount" placeholder="Ej: 20"
                                    class="form-input" value="<%= producto.discount%>"><br>
                                    <p></p>
                            </div>
                            <div class="bloque-edicion">
                                <label for="category" class="form-label">Categoría:</label>
                                <select name="category" id="category" class="form-input">

                                    <option value="otros" <%=producto.category==='otros' ? 'selected' : '' ; %> >Otros
                                    </option>
                                    <option value="consola" <%=producto.category==='consola' ? 'selected' : '' ; %>
                                        >Consolas</option>
                                    <option value="control" <%=producto.category==='control' ? 'selected' : '' ; %>
                                        >Controles</option>
                                    <option value="edicion-especial" <%=producto.category==='edicion-especial'
                                        ? 'selected' : '' ; %>>Ediciones especiales</option>
                                    <option value="accesorios" <%=producto.category==='accesorios' ? 'selected' : '' ;
                                        %>>Accesorios</option>
                                </select><br>
                            </div>

                        </div>
                        <div class="grupos">

                            <div class="bloque-edicion">
                                <label for="stock" class="form-label">Stock (cantidad en bodega) :</label>
                                <input type="text"  autocomplete="off" id="stock" name="stock" placeholder="Ej: 10" class="form-input"
                                    value="<%= producto.stock %>">
                                    <%if(locals.errores && errores.stock){%>
                                        <div class="errores">
                                            <%=errores.stock.msg%>
                                        </div>
                                        <%}%>
                                <p></p>
                            </div>

                            <div class="bloque-edicion">
                                <label for="company" class="form-label">Compañia:</label>
                                <select name="company" id="company" class="form-input">

                                    <option value="otros" <%=producto.company==='otros' ? 'selected' : '' ; %>>Otros
                                    </option>
                                    <option value="playstation" <%=producto.company==='playstation' ? 'selected' : '' ;
                                        %>>Playstation</option>
                                    <option value="xbox" <%=producto.company==='xbox' ? 'selected' : '' ; %>>Xbox
                                    </option>
                                    <option value="nintendo" <%=producto.company==='nintendo' ? 'selected' : '' ; %>
                                        >Nintendo</option>

                                </select><br>
                            </div>

                        </div>
                        <div class="grupos">
                            <div class="bloque-edicion">
                                <label for="color" class="form-label">Color:</label>
                                <select name="color" id="color" class="form-input">

                                    <option value="6" disabled selected>Otros</option>
                                    <option value="1">Negro</option>
                                    <option value="2">Rojo</option>
                                    <option value="3">Gris</option>
                                    <option value="4">Blanco</option>
                                    <option value="5">Azul</option>

                                </select><br>
                            </div>
                            <div class="bloque-edicion" id="divImg">
                                <label for="img" class="form-label">imagenes: </label>
                                <div class="form-input form-img">
                                    <input type="file" id="img" name="img" multiple maxImg="5" value=""  hidden>
                                     <div class="botonAddImg" id="botonAddImg">
                                        <span><i class="fa-solid fa-images"></i></span>
                                    </div>
                                    <div class="contenedorImg">

                                    </div>
                                    

                                </div>
                                <%if(locals.errores && errores.img){%>
                                    <div class="errores">
                                        <%=errores.img.msg%>
                                    </div>
                                    <%}%>
                                
                            </div>
                        </div>
                        <div class="grupos">


                            <div class="bloque-edicion">
                                <label for="features" class="form-label">Caracteristicas:</label>
                                <textarea name="features" id="features"
                                    placeholder="Ej: caracteristicas de su producto (max:500)"
                                    class="form-textarea"><%= producto.features %></textarea>
                                    <p></p>
                            </div>

                            <div class="bloque-edicion">
                                <label for="description" class="form-label">Descripción:</label>
                                <textarea name="description" id="description"
                                    placeholder="Ej: breve descripcion de su producto (max:500)"
                                    class="form-textarea"><%= producto.description %></textarea>
                                    <%if(locals.errores && errores.description){%>
                                        <div class="errores">
                                            <%=errores.description.msg%>
                                        </div>
                                        <%}%>
                                        <p></p>
                            </div>



                        </div>

                        <div class="grupos">

                            <div class="mensajeDeErrores ">
                                <p>llene de forma correcta el formulario</p>
                            </div>

                        </div>

                        <div class="grupos">

                            <div class="bloque-edicion">
                                <button type="submit" class="botonGuardar submit" id="botonGuardar">Guardar producto</button>
                            </div>
                            <div class="bloque-edicion">
                                <button type="reset" class="botonGuardar">Resetear</button>
                            </div>

                        </div>
                    </form>
                    <a href="/productos/eliminar/<%=producto.id %>" style="text-decoration:none; color: black;"><button
                            class="botonGuardar">Eliminar</button></a>
                </div>

            </div>



        </main>
        <%- include('./partials/footer') %>
        <script src="/js/editar-producto.js"></script>
        <script src="/js/validacionProductos.js"></script>
</body>

</html>