
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/list-users.css"> -->
    <link rel="stylesheet" href="/css/partialsCss/cuadroDeProducto.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <%- include('./partials/header') %>
    
    
    <main>
        <!-- escoje la marca -->
        <section id="escogeMarca">
            <div id="labelEscoge">
                <h2>Escoge la marca</h2>
                <h5>¡Encuentra el producto!</h5>
            </div>
            <div id="marcas1">
            <div  id="marcas">
                 <!-- Primero play -->
            <a href="/" class="porLogo">
                <div class="iconMarca">
                    <i class="fa-brands fa-playstation"></i>
                </div>
            </a>
            <!-- Segundo xbox -->

            <a href="/" class="porLogo">
                <div class="iconMarca">
                    <i class="fa-brands fa-xbox"></i>
                </div>
            </a>

            <!-- Tercero nintendo -->

            <a href="/" class="porLogo">
                <div class="iconMarca">
                    <i class="fa-solid fa-gamepad"></i>
                </div>
            </a>
            </div>
            </div>
        </section>

        <!-- matriz -->
        <section id="matriz">
                    
                <!-- filtros -->

            <form action="/productos" method="get" id="filtros"><!-- <div id="filtros"> -->
                    <div id="filtroModelo" class="contenedorFiltros">
                        <h3>Categoria</h3>
                        <div class="check">
                            <input type="checkbox"> Ediciones especiales <br>
                            <input type="checkbox"> Consolas #   <br>
                            <input type="checkbox"> Controles <br>
                        </div>                        
                    </div>
                    
                    <div id="filtroModelo" class="contenedorFiltros">
                        <h3>Color</h3>
                        <div class="check">
                            <input type="checkbox"> Color 1<br>
                            <input type="checkbox"> Color 2   <br>
                            <input type="checkbox"> Color 3 <br>
                            <input type="checkbox"> Color 4 <br>
                            <input type="checkbox"> Color 5 <br>
                        </div>                        
                    </div>
                    
                    <div id="filtroModelo" class="contenedorFiltros">
                        <h3>Precio</h3>
                        <div class="check">
                            <input type="checkbox"> < $200.000 <br>
                            <input type="checkbox"> $201.000 - 800.000  <br>
                            <input type="checkbox"> $801.000 - $1.500.000 <br>
                            <input type="checkbox"> < $1.500.000 <br>
                        </div>                        
                    </div>
            <!-- </div> --></form>
            
            <%if(productosJSON.length % 2==0){%>
                <div class="contenedor-usuarios-par">usuario
                    <%}else{%>
                        <div class="contenedor-usuarios-impar">
                            <%}%>
                            
                                <%productosJSON.forEach((products)=>{%>
                                    <%if(!products.delete){%>
                                    <div class="bloqueProducto" id="bloque">
                                        <div class="imgNuProductos">
                                            <a href="/productos/detalle-producto/<%=products.id%>">
                                                <img class="js-modal-product-cover product-cover-modal"   src="/img/productos/<%= products.image %>" alt="" title="" itemprop="image">
                                            </a>
                                        </div>
                                        <div class="descripcion">
                                            <div class="estrellas">
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                            </div>
                                            <a href="/productos/detalle-producto/<%=products.id%>" class="nombre-producto">
                                                <h4><%= products.name  %></h4>
                                            </a> 
                                            <p>$ <%= toThousand(products.price) %></p>
                                            <div class="iconosAbajo">
                                                <a href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa-solid fa-share-nodes"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                                <%})%>
                                    <%if(total % 4==2){%>
                                    <div class = "bloqueProducto transparente"></div>
                                    <div class = "bloqueProducto transparente"></div>
                                    <%}%>
                                    <%if(total % 2!=0){%>
                                        <div class = "bloqueProducto transparente"></div>
                                            <%if(total % 4==1){%>
                                                <div class = "bloqueProducto transparente"></div>
                                                <div class = "bloqueProducto transparente"></div>
                                                <%}%>
                                    <%}%>
                        </div>
        </section>


    </main>
    
    <%- include('./partials/footer') %>

    
</body>

</html>