
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/list-users.css"> -->
    <link rel="stylesheet" href="/css/partialsCss/cuadroDeProducto.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <!-- escoje la marca -->
        <section id="escogeMarca">
            <div id="labelEscoge">
                <h2>Escoge la marca</h2>
                <h5>¡Encuentra el producto!</h5>
            </div>
            <div id="marcas1">
            <div  id="marcas">
                 <!-- Primero play -->
            <a href="/productos/results?company=playstation" class="porLogo ">
                <div class="iconMarca ">
                    <i class="fa-brands fa-playstation play btn"></i>
                </div>
            </a>
            <!-- Segundo xbox -->

            <a href="/productos/results?company=xbox" class="porLogo ">
                <div class="iconMarca ">
                    <i class="fa-brands fa-xbox xbox btn"></i>
                </div>
            </a>

            <!-- Tercero nintendo -->

            <a href="/productos/results?company=nintendo" class="porLogo ">
                <div class="iconMarca ">
                    <i class="fa-solid fa-gamepad nintendo btn"></i>
                </div>
            </a>
            </div>
            </div>
        </section>

        <!-- matriz -->
        <section id="matriz">
                    
                <!-- filtros -->

            <form action="/productos" method="get" id="filtros"><!-- <div id="filtros"> -->

                    <div class="btnReset" id="btnReset">
                        RESET
                    </div>
                    <div id="contFiltrosTotales">
                        <div id="filtroModelo" class="contenedorFiltros">
                            <h3>Categoria</h3>
                            <div class="check">
                                <input type="checkbox"  name="categoria" id="Consolas" value="consola"><label for="Consolas"> Consolas </label>  <br>
                                <input type="checkbox"  name="categoria" id="Controles" value="control"><label for="Controles"> Controles </label>  <br>
                                <input type="checkbox"  name="categoria" id="Ediciones especiales" value="edicion-especial"><label for="Ediciones especiales"> Ediciones especiales </label>  <br>
                                <input type="checkbox"  name="categoria" id="Accesorios" value="accesorios"><label for="Accesorios"> Accesorios </label>  <br>
                                <input type="checkbox"  name="categoria" id="Otros" value="otros"><label for="Otros"> Otros </label>  <br>
                            </div>                        
                        </div>
                        
                        <div id="filtroModelo" class="contenedorFiltros">
                            <h3>Color</h3>
                            <div class="check">
                                <input type="checkbox"  name="color" id="Negro " value="1"><label for="Negro"> Negro </label>  <br>
                                <input type="checkbox"  name="color" id="Rojo" value="2"><label for="Rojo"> Rojo </label>  <br>
                                <input type="checkbox"  name="color" id="Gris" value="3"><label for="Gris"> Gris </label>  <br>
                                <input type="checkbox"  name="color" id="Blanco" value="4"><label for="Blanco"> Blanco </label>  <br>
                                <input type="checkbox"  name="color" id="Azul" value="5"><label for="Azul"> Azul </label>  <br>
                                <input type="checkbox"  name="color" id="Otros" value="6"><label for="Otros"> Otros </label>  <br>
                            </div>                        
                        </div>
                        
                        <div id="filtroModelo" class="contenedorFiltros">
                            <h3>Precio</h3>
                            <div class="check">
                                <input type="checkbox"  name="precio" id="200000" value="200000"><label for="200000"> < $200.000 </label>  <br>
                                <input type="checkbox"  name="precio" id="800000" value="800000"><label for="800000"> <$201.000 - 800.000 </label>  <br>
                                <input type="checkbox"  name="precio" id="1500000" value="1500000"><label for="1500000"> $801.000 - $1.500.000 </label>  <br>
                                <input type="checkbox"  name="precio" id="mayor" value="mayor"><label for="mayor"> < $1.500.000 </label>  <br>
                                
                            </div>                        
                        </div> 
                    </div>
                    
            <!-- </div> --></form>
            
            <%if(productos.length % 2==0){%>
                <div class="contenedor-usuarios-par">
                    <%}else{%>
                        <div class="contenedor-usuarios-impar">
                            <%}%>
                            <!-- productos.forEach((products, iterador )=>{ -->
                                <%  for(let i = 0; i<total; i++){  %>
                                    <%if(!productos[i].deleted){%>
                                    <div class="bloqueProducto" id="bloque">
                                        <div class="imgNuProductos" style="background-color: #352347;">
                                            <a href="/productos/detalle-producto/<%=productos[i].id%>">
                                                <%if(!productos[i].img_principal){%>
                                                    <div class="imgPrincipal" style="background-image:url('/img/productos/default.png') ;">

                                                    </div>
                                                
                                                    <!-- <img class="js-modal-product-cover product-cover-modal"   src="/img/productos/default.png" alt="" title="" itemprop="image"> -->
                                                <%}else{%>
                                                    <div  class="imgPrincipal" style="background-image:url('/img/productos/<%=productos[i].img_principal%>') ;">

                                                    </div>
                                                    <!-- <img class="js-modal-product-cover product-cover-modal"   src="/img/productos/<%=productos[i].img_principal%>" alt="" title="" itemprop="image"> -->
                                                    
                                                    <%}%>
                                            </a>
                                        </div>
                                        <div class="descripcion">
                                            <div class="estrellas">
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                            </div>
                                            <a href="/productos/detalle-producto/<%=productos[i].id%>" class="nombre-producto">
                                                <h4><%= productos[i].name  %></h4>
                                            </a> 
                                            <p>$ <%= toThousand(productos[i].price) %></p>
                                            <div class="iconosAbajo">
                                                <a href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa-solid fa-share-nodes"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                                <%}%>
                                    <%if(total % 4==2){%>
                                    <div class = "bloqueProducto transparente"></div>
                                    <div class = "bloqueProducto transparente"></div>
                                    <%}%>
                                    <%if(total % 2!=0){%>
                                        <div class = "bloqueProducto transparente"></div>
                                            <%if(total % 4==1){%>
                                                <div class = "bloqueProducto transparente"></div>
                                                <div class = "bloqueProducto transparente"></div>
                                                <%}%>
                                    <%}%>
                        </div>
        </section>


    </main>
    
    <%- include('./partials/footer') %>

    
</body>
<script src="/js/productos/productos.js"></script>

</html>